@import "variables";
@import "mixin";
@import "media-queries";
@import "animation";
@import "reset";

.demo {
    // @extend %center-block;
    @include ellipsis-lines(2);
    width: 100px;
    // height: 100px;
    outline: 1px solid red;
}
.disable {
    @include disabled();
}

.parent {
    width: 200px;
    height: 200px;
    background: pink;
}



.tra {
    @include triangle(right, 6px, pink);
}
.arr {
    @include v-arrow();

}

body {
    // @include iphonex() {
    //     background: blue;
    // }
}

.transiton {
    width: 100px;
    height: 100px;
    background: khaki;
    @extend %transition-all;
    &:hover {
        transform: rotate(90deg);
    }
}

// @include screen-height (800px, 900px) {
//     body {
//         background: red;
//     }
// }

// @include hdtv('4K') {
//     body {
//         background: blue
//         ;
//     }
// }

// @include iphone5() {
//     body {
//         background: red;
//     }
// }

// iphone6的横向
// @include iphone6(landscape) {
//     body {
//         background: blue;
//     }
// }

@include landscape() {
    body {
        background: pink;
    }
}